### 1. 데이터 가져오기 (로또번호, 날씨)

In [1]:
import pandas as pd

lotto = pd.read_csv("./Data/lotto_869.csv", encoding="euc-kr")
lotto.head()

,회차,추첨일,1등수,1등금액,2등수,2등금액,3등수,3등금액,4등수,4등금액,5등수,5등금액,No_1,No_2,No_3,No_4,No_5,No_6,No_Bonus
0,869,2019-07-27,10,1922582588,56,57219720,2210,1449912,108562,50000,1814332,5000,2,6,20,27,37,39,4
1,868,2019-07-20,6,3233804250,61,53013185,2152,1502698,109133,50000,1789491,5000,12,17,28,41,43,44,25
2,867,2019-07-13,5,3933755250,57,57511042,2175,1507186,109516,50000,1820552,5000,14,17,19,22,24,40,41
3,866,2019-07-06,9,2240409000,68,49420787,2035,1651408,104919,50000,1770017,5000,9,15,29,34,37,39,12
4,865,2019-06-29,13,1551729145,52,64655382,2076,1619499,104626,50000,1749234,5000,3,15,22,32,33,45,2

In [2]:
# 추첨일을 인덱스 설정
lotto = lotto.set_index("추첨일")

In [3]:
## 전처리

# 필요한 컬럼만 추출 (회차, 추첨번호 6개)
lotto = lotto.loc[:,["회차","No_1","No_2","No_3","No_4","No_5","No_6","No_Bonus"]]   ##전체rows,필요컬럼들
lotto.head()

             회차  No_1  No_2  No_3  No_4  No_5  No_6  No_Bonus
추첨일
2019-07-27  869     2     6    20    27    37    39         4
2019-07-20  868    12    17    28    41    43    44        25
2019-07-13  867    14    17    19    22    24    40        41
2019-07-06  866     9    15    29    34    37    39        12
2019-06-29  865     3    15    22    32    33    45         2

In [4]:
# 날씨 데이터 가져오기
weather = pd.read_csv("./Data/weater_seoul_200212_20190727.csv", encoding="EUC-KR")

weather = weather.set_index("일시")
weather.head()

,지점,평균기온,최저기온,최고기온,평균 풍속,평균 상대습도,평균 현지기압,합계 일조 시간,평균 전운량,평균 지면온도
일시,,,,,,,,,,
2002-12-01,108,4.8,-0.7,9.9,1.2,60.1,1012.5,4.6,2.9,1.7
2002-12-02,108,6.9,3.3,12.1,1.3,63.6,1015.7,3.7,2.0,3.1
2002-12-03,108,7.7,2.8,11.0,2.0,52.4,1011.6,0.3,7.1,2.8
2002-12-04,108,11.3,8.0,15.9,1.8,50.4,1005.5,5.2,4.9,7.0
2002-12-05,108,7.3,4.2,10.5,2.7,67.9,1010.4,0.0,8.1,6.2

In [5]:
# 로또 데이터와 날씨 데이터를 병합
lotto_weather = pd.concat([lotto, weather], axis=1, join="inner")   #outer:합집합(union), inner:교집합(intersection)
lotto_weather.index.names=["일시"]
lotto_weather.head()

,회차,No_1,No_2,No_3,No_4,No_5,No_6,No_Bonus,지점,평균기온,최저기온,최고기온,평균 풍속,평균 상대습도,평균 현지기압,합계 일조 시간,평균 전운량,평균 지면온도
일시,,,,,,,,,,,,,,,,,,
2019-07-27,869,2,6,20,27,37,39,4,108,28.4,24.9,33.4,1.3,76.6,995.7,4.7,7.6,29.6
2019-07-20,868,12,17,28,41,43,44,25,108,28.0,25.1,31.9,2.1,66.9,990.8,1.2,9.5,28.4
2019-07-13,867,14,17,19,22,24,40,41,108,24.9,22.1,29.7,1.7,67.3,992.0,4.1,6.4,28.3
2019-07-06,866,9,15,29,34,37,39,12,108,29.7,24.6,36.1,1.7,40.9,994.1,11.8,3.4,37.1
2019-06-29,865,3,15,22,32,33,45,2,108,23.1,19.6,27.7,1.2,72.0,988.3,4.1,8.1,24.4

In [6]:
lotto_weather.shape

(869, 18)

In [7]:
lotto_weather.drop(["회차","지점","최저기온","최고기온","평균 풍속","합계 일조 시간","평균 전운량","평균 지면온도"],
                  axis="columns", inplace=True)
lotto_weather.head()

,No_1,No_2,No_3,No_4,No_5,No_6,No_Bonus,평균기온,평균 상대습도,평균 현지기압
일시,,,,,,,,,,
2019-07-27,2,6,20,27,37,39,4,28.4,76.6,995.7
2019-07-20,12,17,28,41,43,44,25,28.0,66.9,990.8
2019-07-13,14,17,19,22,24,40,41,24.9,67.3,992.0
2019-07-06,9,15,29,34,37,39,12,29.7,40.9,994.1
2019-06-29,3,15,22,32,33,45,2,23.1,72.0,988.3

##### 라벨을 추가하여 1로 입력 (1등 데이터)

In [8]:
lotto_weather["등수"] = 1
lotto_weather.head()

,No_1,No_2,No_3,No_4,No_5,No_6,No_Bonus,평균기온,평균 상대습도,평균 현지기압,등수
일시,,,,,,,,,,,
2019-07-27,2,6,20,27,37,39,4,28.4,76.6,995.7,1
2019-07-20,12,17,28,41,43,44,25,28.0,66.9,990.8,1
2019-07-13,14,17,19,22,24,40,41,24.9,67.3,992.0,1
2019-07-06,9,15,29,34,37,39,12,29.7,40.9,994.1,1
2019-06-29,3,15,22,32,33,45,2,23.1,72.0,988.3,1

###### 2등 데이터를 추가하고 라벨 설정

In [9]:
 lotto_weather.iloc[:, 0]

일시
2019-07-27     2
2019-07-20    12
2019-07-13    14
2019-07-06     9
2019-06-29     3
              ..
2003-01-04    16
2002-12-28    14
2002-12-21    11
2002-12-14     9
2002-12-07    10
Name: No_1, Length: 869, dtype: int64

In [12]:
# 데이터 복사
lotto_weather2 = lotto_weather.copy()

# 6개 당첨번호를 각각 보너스 번호 변경
# 869개의 데이터에 대해 반복
for i in range(len(lotto_weather)):
    # 각 회차 데이터의 당첨번호에 대해 반복 (보너스 번호로 변경)
    for j in range(6):
         # 869개 데이터에서 1회차 데이터만 불러온다
        lotto_weather3 = lotto_weather.iloc[[i],:]      ##각각의 날짜에 해당하는 정보 가져옴(왜? 그 날짜의 2등번호들 더해줄것이기 때문)
                                                        ##현재는 1등한 사람의 번호만 들어가 있음

        lotto_weather3.iloc[:, j] = lotto_weather3.loc[:, "No_Bonus"]  #모든행의 No_Bonus열    
                                                                       ###--> 1등숫자 6개 중 한개씩에 바꿔치게 되게 해줌
        # 등수를 2등을 저장
        lotto_weather3.loc[:, "등수"] = 2
        
        # 새로운 당첨번호 2등 데이터 행을 추가
        lotto_weather2 = pd.concat([lotto_weather2, lotto_weather3])

C:\Users\SMT078\anaconda3\envs\deep01\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)
C:\Users\SMT078\anaconda3\envs\deep01\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [14]:
#lotto_weather2.tail(20)
lotto_weather2.tail()

,No_1,No_2,No_3,No_4,No_5,No_6,No_Bonus,평균기온,평균 상대습도,평균 현지기압,등수
일시,,,,,,,,,,,
2002-12-07,10,16,29,33,37,40,16,5.2,63.9,1014.5,2
2002-12-07,10,23,16,33,37,40,16,5.2,63.9,1014.5,2
2002-12-07,10,23,29,16,37,40,16,5.2,63.9,1014.5,2
2002-12-07,10,23,29,33,16,40,16,5.2,63.9,1014.5,2
2002-12-07,10,23,29,33,37,16,16,5.2,63.9,1014.5,2

# 15th

In [15]:
# 데이터 저장
lotto_weather2.to_csv("./Data/lotto_weather2.csv")

In [16]:
# 3등, 4등, 5등도 만들어야 함

In [17]:
lotto_weather2.shape

(6083, 11)

In [18]:
lotto_weather2.drop(["No_Bonus"], axis="columns", inplace=True)

lotto_weather2.head()

            No_1  No_2  No_3  No_4  No_5  No_6  평균기온  평균 상대습도  평균 현지기압  등수
일시
2019-07-27     2     6    20    27    37    39  28.4     76.6    995.7   1
2019-07-20    12    17    28    41    43    44  28.0     66.9    990.8   1
2019-07-13    14    17    19    22    24    40  24.9     67.3    992.0   1
2019-07-06     9    15    29    34    37    39  29.7     40.9    994.1   1
2019-06-29     3    15    22    32    33    45  23.1     72.0    988.3   1

#### 특성데이터와 라벨데이터로 분리

In [19]:
X = lotto_weather2.iloc[:, :-1]
y = lotto_weather2.iloc[:, -1]

X.shape, y.shape

((6083, 9), (6083,))

#### 훈련데이터와 테스트데이터로 분리

In [21]:
# One-hot Encoding
y_en = pd.get_dummies(y)    ##현 데이터는 2진분류(1등or2등)라 그냥해도되겠지만, 1~5(등)까지 해줘야함

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y_en, random_state=777)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((4562, 9), (1521, 9), (4562, 2), (1521, 2))

### 딥러닝

In [52]:
import numpy as np
import tensorflow
seed = 0 
np.random.seed(seed)
tensorflow.random.set_seed(seed)

In [85]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()

# 입력층
model.add(Dense(32, input_dim=X_train.shape[1], activation="relu"))  #X_train.shape[1] = 9

# 은닉층    
model.add(Dense(64, activation="relu"))
model.add(Dense(32, activation="relu"))
model.add(Dense(16, activation="relu"))
#model.add(Dense(8, activation="relu"))

# 출력층
model.add(Dense(2, activation="softmax"))

#model.summary()

In [86]:
model.compile(loss="categorical_crossentropy",
             optimizer="adam",
             metrics=["acc"])

In [87]:
history = model.fit(X_train, y_train, epochs=100 ,batch_size=50)

Train on 4562 samples
Epoch 1/100
4562/4562 [==============================] - 0s 105us/sample - loss: 0.8307 - acc: 0.7922
Epoch 2/100
4562/4562 [==============================] - 0s 38us/sample - loss: 0.5618 - acc: 0.8045
Epoch 3/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.4794 - acc: 0.8286
Epoch 4/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.4548 - acc: 0.8402
Epoch 5/100
4562/4562 [==============================] - 0s 40us/sample - loss: 0.4213 - acc: 0.8507
Epoch 6/100
4562/4562 [==============================] - 0s 42us/sample - loss: 0.4634 - acc: 0.8415
Epoch 7/100
4562/4562 [==============================] - 0s 37us/sample - loss: 0.4149 - acc: 0.8518
Epoch 8/100
4562/4562 [==============================] - 0s 40us/sample - loss: 0.4487 - acc: 0.8431
Epoch 9/100
4562/4562 [==============================] - 0s 40us/sample - loss: 0.4376 - acc: 0.8481
Epoch 10/100
4562/4562 [==============================] - 0s 42us/sample - loss: 0.4151 - acc: 0.8542
Epoch 11/100
4562/4562 [==============================] - 0s 42us/sample - loss: 0.4243 - acc: 0.8503
Epoch 12/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.4079 - acc: 0.8553
Epoch 13/100
4562/4562 [==============================] - 0s 43us/sample - loss: 0.4475 - acc: 0.8437
Epoch 14/100
4562/4562 [==============================] - 0s 43us/sample - loss: 0.4474 - acc: 0.8409
Epoch 15/100
4562/4562 [==============================] - 0s 40us/sample - loss: 0.4475 - acc: 0.8426
Epoch 16/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.4364 - acc: 0.8455
Epoch 17/100
4562/4562 [==============================] - 0s 40us/sample - loss: 0.4134 - acc: 0.8564
Epoch 18/100
4562/4562 [==============================] - 0s 40us/sample - loss: 0.4211 - acc: 0.8536
Epoch 19/100
4562/4562 [==============================] - 0s 37us/sample - loss: 0.4271 - acc: 0.8527
Epoch 20/100
4562/4562 [==============================] - 0s 36us/sample - loss: 0.4099 - acc: 0.8560
Epoch 21/100
4562/4562 [==============================] - 0s 38us/sample - loss: 0.4054 - acc: 0.8571
Epoch 22/100
4562/4562 [==============================] - 0s 44us/sample - loss: 0.4583 - acc: 0.8347
Epoch 23/100
4562/4562 [==============================] - 0s 40us/sample - loss: 0.4288 - acc: 0.8501
Epoch 24/100
4562/4562 [==============================] - 0s 39us/sample - loss: 0.4104 - acc: 0.8547
Epoch 25/100
4562/4562 [==============================] - 0s 36us/sample - loss: 0.4073 - acc: 0.8562
Epoch 26/100
4562/4562 [==============================] - 0s 44us/sample - loss: 0.4043 - acc: 0.8566
Epoch 27/100
4562/4562 [==============================] - 0s 42us/sample - loss: 0.4115 - acc: 0.8564
Epoch 28/100
4562/4562 [==============================] - 0s 42us/sample - loss: 0.4008 - acc: 0.8564
Epoch 29/100
4562/4562 [==============================] - 0s 42us/sample - loss: 0.4027 - acc: 0.8558
Epoch 30/100
4562/4562 [==============================] - 0s 42us/sample - loss: 0.3995 - acc: 0.8564
Epoch 31/100
4562/4562 [==============================] - 0s 39us/sample - loss: 0.4071 - acc: 0.8566
Epoch 32/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.4089 - acc: 0.8566
Epoch 33/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.3995 - acc: 0.8566
Epoch 34/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.4035 - acc: 0.8566
Epoch 35/100
4562/4562 [==============================] - 0s 36us/sample - loss: 0.4008 - acc: 0.8566
Epoch 36/100
4562/4562 [==============================] - 0s 42us/sample - loss: 0.4026 - acc: 0.8564
Epoch 37/100
4562/4562 [==============================] - 0s 37us/sample - loss: 0.4047 - acc: 0.8566
Epoch 38/100
4562/4562 [==============================] - 0s 40us/sample - loss: 0.4035 - acc: 0.8566
Epoch 39/100
4562/4562 [==============================] - 0s 40us/sample - loss: 0.3990 - acc: 0.8566
Epoch 40/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.3982 - acc: 0.8566
Epoch 41/100
4562/4562 [==============================] - 0s 39us/sample - loss: 0.4075 - acc: 0.8562
Epoch 42/100
4562/4562 [==============================] - 0s 38us/sample - loss: 0.4012 - acc: 0.8562
Epoch 43/100
4562/4562 [==============================] - 0s 37us/sample - loss: 0.3972 - acc: 0.8566
Epoch 44/100
4562/4562 [==============================] - 0s 35us/sample - loss: 0.3954 - acc: 0.8566
Epoch 45/100
4562/4562 [==============================] - 0s 40us/sample - loss: 0.3986 - acc: 0.8566
Epoch 46/100
4562/4562 [==============================] - 0s 43us/sample - loss: 0.3991 - acc: 0.8566
Epoch 47/100
4562/4562 [==============================] - 0s 37us/sample - loss: 0.3961 - acc: 0.8566
Epoch 48/100
4562/4562 [==============================] - 0s 43us/sample - loss: 0.3937 - acc: 0.8566
Epoch 49/100
4562/4562 [==============================] - 0s 42us/sample - loss: 0.4003 - acc: 0.8566
Epoch 50/100
4562/4562 [==============================] - 0s 43us/sample - loss: 0.3922 - acc: 0.8566
Epoch 51/100
4562/4562 [==============================] - 0s 43us/sample - loss: 0.3935 - acc: 0.8566
Epoch 52/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.3948 - acc: 0.8566
Epoch 53/100
4562/4562 [==============================] - 0s 43us/sample - loss: 0.3928 - acc: 0.8566
Epoch 54/100
4562/4562 [==============================] - 0s 39us/sample - loss: 0.3997 - acc: 0.8566
Epoch 55/100
4562/4562 [==============================] - 0s 37us/sample - loss: 0.3936 - acc: 0.8566
Epoch 56/100
4562/4562 [==============================] - 0s 43us/sample - loss: 0.3992 - acc: 0.8566
Epoch 57/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.3978 - acc: 0.8566
Epoch 58/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.4087 - acc: 0.8566
Epoch 59/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.3951 - acc: 0.8566
Epoch 60/100
4562/4562 [==============================] - 0s 40us/sample - loss: 0.4010 - acc: 0.8566
Epoch 61/100
4562/4562 [==============================] - 0s 37us/sample - loss: 0.3922 - acc: 0.8566
Epoch 62/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.3972 - acc: 0.8566
Epoch 63/100
4562/4562 [==============================] - 0s 39us/sample - loss: 0.3931 - acc: 0.8566
Epoch 64/100
4562/4562 [==============================] - 0s 38us/sample - loss: 0.3920 - acc: 0.8566
Epoch 65/100
4562/4562 [==============================] - 0s 42us/sample - loss: 0.3961 - acc: 0.8566
Epoch 66/100
4562/4562 [==============================] - 0s 42us/sample - loss: 0.4039 - acc: 0.8566
Epoch 67/100
4562/4562 [==============================] - 0s 40us/sample - loss: 0.3968 - acc: 0.8566
Epoch 68/100
4562/4562 [==============================] - 0s 38us/sample - loss: 0.3917 - acc: 0.8566
Epoch 69/100
4562/4562 [==============================] - 0s 42us/sample - loss: 0.3945 - acc: 0.8566
Epoch 70/100
4562/4562 [==============================] - 0s 40us/sample - loss: 0.3980 - acc: 0.8566
Epoch 71/100
4562/4562 [==============================] - 0s 35us/sample - loss: 0.3922 - acc: 0.8566
Epoch 72/100
4562/4562 [==============================] - 0s 39us/sample - loss: 0.3927 - acc: 0.8566
Epoch 73/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.3936 - acc: 0.8566
Epoch 74/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.3954 - acc: 0.8566
Epoch 75/100
4562/4562 [==============================] - 0s 42us/sample - loss: 0.3964 - acc: 0.8566
Epoch 76/100
4562/4562 [==============================] - 0s 38us/sample - loss: 0.3926 - acc: 0.8566
Epoch 77/100
4562/4562 [==============================] - 0s 38us/sample - loss: 0.3968 - acc: 0.8566
Epoch 78/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.3920 - acc: 0.8566
Epoch 79/100
4562/4562 [==============================] - 0s 43us/sample - loss: 0.3963 - acc: 0.8566
Epoch 80/100
4562/4562 [==============================] - 0s 42us/sample - loss: 0.3923 - acc: 0.8566
Epoch 81/100
4562/4562 [==============================] - 0s 37us/sample - loss: 0.3981 - acc: 0.8566
Epoch 82/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.3971 - acc: 0.8566
Epoch 83/100
4562/4562 [==============================] - 0s 37us/sample - loss: 0.3941 - acc: 0.8566
Epoch 84/100
4562/4562 [==============================] - 0s 37us/sample - loss: 0.3976 - acc: 0.8566
Epoch 85/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.3961 - acc: 0.8566
Epoch 86/100
4562/4562 [==============================] - 0s 37us/sample - loss: 0.3950 - acc: 0.8566
Epoch 87/100
4562/4562 [==============================] - 0s 42us/sample - loss: 0.4019 - acc: 0.8566
Epoch 88/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.4016 - acc: 0.8566
Epoch 89/100
4562/4562 [==============================] - 0s 40us/sample - loss: 0.3970 - acc: 0.8566
Epoch 90/100
4562/4562 [==============================] - 0s 38us/sample - loss: 0.3958 - acc: 0.8566
Epoch 91/100
4562/4562 [==============================] - 0s 40us/sample - loss: 0.3928 - acc: 0.8566
Epoch 92/100
4562/4562 [==============================] - 0s 36us/sample - loss: 0.3910 - acc: 0.8566
Epoch 93/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.3925 - acc: 0.8566
Epoch 94/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.3929 - acc: 0.8566
Epoch 95/100
4562/4562 [==============================] - 0s 39us/sample - loss: 0.3937 - acc: 0.8566
Epoch 96/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.3921 - acc: 0.8566
Epoch 97/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.3916 - acc: 0.8566
Epoch 98/100
4562/4562 [==============================] - 0s 41us/sample - loss: 0.3890 - acc: 0.8566
Epoch 99/100
4562/4562 [==============================] - 0s 37us/sample - loss: 0.3975 - acc: 0.8566
Epoch 100/100
4562/4562 [==============================] - 0s 37us/sample - loss: 0.3933 - acc: 0.8566

In [84]:
#import matplotlib.pyplot as plt

#plt.figure(figsize=(10,5))     # 가로, 세로
#plt.plot(history.history['acc'], label='train') # 훈련용 데이터로 평가한 점수
##plt.plot(history.history['val_accuracy'], label='val') #검증용 데이터로 평가한 점수
#plt.legend()   #범례
#plt.show()

In [88]:
model.evaluate(X_test,y_test)

1521/1521 [==============================] - 0s 96us/sample - loss: 0.3954 - acc: 0.8586

[0.3953997913275323, 0.8586456]

In [129]:
# 예측해보기
lottoData = np.array([2,7,15,22,35,39, 18., 25., 1024.]).reshape(1,9)

pred = model.predict(lottoData)

pred

array([[0.22098948, 0.77901053]], dtype=float32)